RewriteEngine On

# Asegura que la base del proyecto está bien detectada
RewriteBase /test_granadine/

# Si el archivo o carpeta existe, NO lo redirige
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirección a index.php
RewriteRule ^(.*)$ index.php/$1 [PT,L]